@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT&display=swap');
:root{
    --fontColor: white;
    font-size: 16px;
    box-sizing: border-box;
}
body{
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #49181e;
    font-family: 'Old Standard TT', serif;
    
}
h3{
    text-align: center;
    margin-top: 2em;
    color: #E4B7AF;
    font-size: 50px;
}
div{
    display: inline-block;
    margin-top: 2em;
}
.square{
    box-sizing: border-box;
    width: 400px;
    height: 500px;
    background: rgb(119,61,40);
    background: linear-gradient(142deg, rgba(119,61,40,1) 0%, rgba(73,24,30,1) 38%);
    position: relative;
    bottom: 3em;
    left: 10em;
}
img{
    width: 400px;
    height: 500px;
    position: relative;
    right: 12em;
}
input[type="text"]{
    background-color: #82412B;
    color: var(--fontColor);
    border: none;
    text-align: center;
}
#bookingTickets{
    background-color: #773D28;
    position: relative;
    bottom: 10em;
    color: var(--fontColor);
    text-align: center;
    box-shadow: 0 15px 35px rgba(0,0,0,.5);
}
input[type="button"]{
    background-color: #C9865E;
    border: none;
    color: var(--fontColor);
}
input[type="submit"]{
    background-color: #C9865E;
    border: none;
    color: rgb(51, 42, 38);
    padding: 6px 10px;
}
form{
   padding: .6em;
}
fieldset{
    color: #E4B7AF;
    border:0px;
    font-size: 18px;
}

